.vscode/**
dat/**

fetchcovariates
!cmd/fetchcovariates/

fit
!cmd/fit/

batchsmc
!cmd/batchsmc/

batchhierarchical
!cmd/batchhierarchical/

validate
!cmd/validate/

simulate
!cmd/simulate/
!pkg/simulate/